// @import "../../../util/styles/_standards";

header.FooterBar {
  background-color: $brand-secondary;
  bottom: inherit;
  position: fixed;
  height: 45px;
  // display: inline;
  div {
    min-height: 50px;
    button.special-btn {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 35px;
      background-color: $brand-tertiary;
      color: $brand-primary;
      z-index: 1;
      border-radius: 30px;
      svg {
        font-size: 55px;
      }
      &.active {
        background-color: $brand-primary;
        color: $brand-tertiary;
      }
    }
  }
}
