// @import "../_standards.scss";

.Footer {
  position: initial;
  bottom: 0;
  height: 65px;
  z-index: 100;
  header {
    width: calc(100% - 14vw);
    @media screen and (max-width: 1200px) {
      width: calc(100vw - 75px);
    }
  }
  .Footer-nav {
    background-color: $brand-grey;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}
