$brand-primary: #ffffff;
$brand-primary-dark: invert($brand-primary);
$brand-secondary: #4db6ac;
$brand-secondary-dark: darker($brand-secondary);
$brand-tertiary: #78909c;
$brand-tertiary-dark: darker($brand-tertiary);
$brand-grey: #f5f5f5;
$brand-grey-dark: darker($brand-grey);

//Form Colors
$form-default: #5b7bfc;
$form-basic: #ffffff;
$form-confirm: #45d445;
$form-default: disable($form-default);
$form-basic: disable($form-basic);
$form-confirm: disable($form-confirm);

@function disable($property) {
  @return desaturate($property, 20%);
}

@function darker($property) {
  @return darken($property, 20%);
}

@function invert($property) {
  @return invert($property);
}
